@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <div>
        <h3>Sign Up</h3>
        <form method="post">
            <table>
                <tr>
                    <td>E-mail:</td>
                    <td><input type="text" name="User_mail" /> </td>
                </tr>
                <tr>
                    <td>Pass:</td>
                    <td><input type="text" name="User" /> </td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td><input type="text" name="First_name" /> </td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="Last_name" /></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Contact Phone:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Sign Up" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>